$wrapper-padding: 3rem;

@mixin wrapper ($size) {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: $size + $wrapper-padding * 2;
  padding: 0 $wrapper-padding;
}

@mixin columns ($numberOfColumns: 1, $totalColumns: 12) {
  @include flex-size(math.percentage(math.div($numberOfColumns, $totalColumns)));
}

@mixin push ($numberOfColumns: 1, $totalColumns: 12) {
  margin-left: math.percentage(math.div($numberOfColumns, $totalColumns));
}

@mixin flex-size ($size) {
  flex: 0 0 $size;
  width: $size;
}

@mixin flex-list () {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--items-gap, 0rem);
}

@mixin flex-list-item () {
  @include flex-size(
    calc(
      (
        (100% - (var(--items-by-line, 1) - 1) * var(--items-gap, 0rem)) /
          var(--items-by-line, 1)
      )
    )
  );
}
