/**
*
* Colors
*
**/
primary-color=white
secondary-color=black

/**
*
* Z-index
*
**/
z-index-nav = 800
z-index-popup = 900
z-index-page-transition = 1000
z-index-loader = 1100

/**
*
* Fonts
*
**/

// Roboto
// import-font('Roboto', {
//   opentype: '~@/assets/fonts/Roboto.otf'
// }, fw-regular, normal)

// roboto-ff = 'Roboto', default-ff
